data/*
!data/vocab/*
.idea/*
*.pyc
api.key
*.swp
*.o[0-9][0-9][0-9]*
src/google_scraper/bing_word/*
src/google_scraper/bing_stackoverflow_word/*
src/google_scraper/bing_*
src/google_scraper/.scrapecache/*
src/google_scraper/backup/*
*.pyc
*.db
*.gz
*.pyc
*.rar
src/google_scraper.db
